.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image img {
  display: block;
  max-height: 150px;
  max-width: 200px;
}

textarea {
  width: 500px;
  height: 70px;
  border: 1px solid #000;
  text-align: start;
}

.text-preview {
  padding-top: 30px;
}

.preview-image {
  margin-top: 50px;
  border: 2px solid #000;
  padding: 20px;
  background: #e6e5e5;
}
